.main {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    padding: 3px 0 13px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    @media screen and (max-width: 1200px) {
        justify-content: center;
        max-width: 800px;
        margin: 0 auto;
        flex-wrap: wrap;
    }
}

.logo {
    max-width: 156px;
}

.catalog-button {
    max-width: 192px;
    height: 59px;

    &>svg {
        margin-left: 12px;
    }
}

.search-input {
    background-color: #EDEDED;
}

.price-list-button {
    padding: 22px 0;
    max-width: 200px;
    height: 59px;

    svg {
        margin-left: 12px;
    }
}

.operator {
    display: flex;
    align-items: center;
    white-space: nowrap;

    &>p {
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        text-align: right;
        color: #111111;

        &>span {
            display: block;
            font-weight: 300;
            font-size: 12px;
            line-height: 18px;
            color: #3F4E65;
        }

        &>a {
            font-weight: 400;
            font-size: 10px;
            line-height: 15px;
            text-decoration: underline;
            color: #3F4E65;
        }
    }

    &__image {
        margin-left: 14px;
        position: relative;

        &>img {
            width: 70px;
        }
    }

    &__status {
        border: 2px solid #F0F6FA;
        border-radius: 50%;
        position: absolute;
        top: 26px;
        right: 5px;

        &-online {
            width: 8px;
            height: 8px;
            background-color: #1FD85D;
            border-radius: 50%;
            animation: online 1.5s ease-in-out infinite;

            @keyframes online {
                to {
                    box-shadow:  0 0 1px 3px rgba(31, 216, 93, 0.5);
                }
            }
        }
    }
}

.line49 {
    height: 49px;
    border-right: 1px dashed #dadde1;
}