// .h {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     z-index: 100000;
//     background-color: #ffffff;
// }

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    svg path {
        fill: rgba(63, 78, 101, 1);
    }
}

.header__bottom {
    border: 1px solid rgba(63, 78, 101, 0.1);
    border-left-color: transparent;
    border-right-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>a {
        width: 100%;
        display: block;
    }
}

// .logo {
//     width: 97px;
//     height: 41px;
// }

.toggleMenu {
    background-color: rgba(255, 200, 94, 1);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;

    &__element {
        width: 8px;
        height: 8px;
        margin: 0 auto;
        position: relative;

        &>span,
        &>span::before,
        &>span::after {
            display: block;
            width: 8px;
            height: 1px;
            margin: 0 auto;
            background-color: rgba(255, 255, 255, 1);
            position: absolute;
            right: 0;
            left: 0;
        }

        &>span {
            top: 2.4px;
        }

        &>span::before,
        &>span::after {
            content: "";
        }
        
        &>span::before {
            top: -3px;
        }

        &>span::after {
            bottom: -3px;
        }
    }
}

.catalogButton,
.searchButton {
    width: 100%;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    color: rgba(63, 78, 101, 1);
    padding: 18px 0;
    white-space: nowrap;
    cursor: pointer;

    @media screen and (max-width: 600px) {
        font-size: 12px;
        padding: 13px 0;
    }

    &>svg {
        margin-right: 6px;
        vertical-align: sub;
    }
}

.catalogButton {
    &>svg path {
        fill: rgba(63, 78, 101, 1);
    }
}

.searchButton {
    &>svg path {
        stroke: rgba(63, 78, 101, 1);
    }
}

.line30 {
    display: inline-block;
    height: 30px;
    border-right: 1px dashed #dadde1;
}