.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    svg path {
        fill: rgba(63, 78, 101, 1);
    }
}

.header__bottom {
    border: 1px solid rgba(63, 78, 101, 0.1);
    border-left-color: transparent;
    border-right-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>a {
        width: 100%;
        display: block;
    }
}

.toggleMenu {
    background-color: rgba(255, 200, 94, 1);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 10px;

    &__element {
        width: 12px;
        height: 12px;

        &>span {
            display: block;
            width: 8px;
            height: 2px;
            background-color: rgba(255, 255, 255, 1);

            &::before,
            &::after {
                content: "";
                display: block;
                width: 8px;
                height: 2px;
                background-color: rgba(255, 255, 255, 1);
                position: absolute;
            }
        }
    }
}

.catalogButton,
.searchButton {
    width: 100%;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    color: rgba(63, 78, 101, 1);
    padding: 18px 0;
    white-space: nowrap;
    cursor: pointer;

    @media screen and (max-width: 600px) {
        padding: 13px 0;
    }

    &>svg {
        margin-right: 6px;
        vertical-align: sub;
    }
}

.catalogButton {
    &>svg path {
        fill: rgba(63, 78, 101, 1);
    }
}

.searchButton {
    &>svg path {
        stroke: rgba(63, 78, 101, 1);
    }
}

.line30 {
    display: inline-block;
    height: 30px;
    border-right: 1px dashed #dadde1;
}