.promotional-products-slider .splide__pagination {
    position: absolute;
    bottom: -40px;
}

.promotional-products-slider .splide__pagination li {
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  pointer-events: auto;
  width: auto !important;
}

.promotional-products-slider .splide__pagination__page {
    background-color: rgba(63, 78, 101, 1);
    width: 16px;
    height: 7px;
    opacity: 0.1;
    border-radius: 100px;

    &.is-active {
        background-color: rgba(255, 200, 94, 1);
        opacity: 1;
        width: 26px;
        margin: 0 8px;
    }
}

.promotional-products-slider .splide__slide {
  padding: 10px 0;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  gap: 10px !important;
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
    .promotional-products-slider .splide__track {
        padding: 20px 0;
    }

    .promotional-products-slider .splide__list {
        display: flex !important;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 20px;
    }
}

@media screen and (max-width: 600px) {
    .promotional-products-slider .splide__list {

    }
}