.basketPage {
    padding-bottom: 100px;

    @media screen and (max-width: 600px) {
        padding-bottom: 50px;
    }

    &__wrapper {
        &>h1 {
            color: rgba(17, 17, 17, 1);
            font-weight: 500;
            font-size: 40px;
            line-height: 120%;
            text-transform: uppercase;
            margin-bottom: 50px;

            @media screen and (max-width: 600px) {
                font-size: 20px;
                margin-bottom: 20px;
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 25px 0;
        margin-top: 60px;

        @media screen and (max-width: 600px) {
            flex-direction: column-reverse;
            margin-top: 25px;
        }

        &>button {
            background-color: rgba(255, 200, 94, 1);
            width: 192px;
            height: 59px;
            border-radius: 79px;
            padding: 10px 19px;
            color: rgba(255, 255, 255, 1);
            font-weight: 700;
            font-size: 14px;
            line-height: 100%;

            @media screen and (max-width: 600px) {
                width: 100%;
                height: 80px;
            }
        }

        &>strong {
            color: rgba(17, 17, 17, 1);
            font-weight: 700;
            font-size: 30px;
            line-height: 130%;
            white-space: nowrap;
        }
    }
}

.card {
    width: 100%;
    padding: 50px 0;
    border-bottom: 1px dashed rgba(63, 78, 101, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    @media screen and (max-width: 600px) {
        padding: 20px 0;
    }

    @media screen and (max-width: 1100px) {
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    &:first-child {
        border-top: 1px dashed rgba(63, 78, 101, 0.3);
    }

    &__img {
        max-width: 281px;
        height: 191px;
    }

    &__info {
        max-width: 480px;

        @media screen and (max-width: 600px) {
            margin-bottom: 5px;
        }

        &>span {
            display: inline-block;
            color: rgba(63, 78, 101, 1);
            font-weight: 400;
            font-size: 12px;
            line-height: 130%;
            margin-bottom: 10px;
        }

        &>h2 {
            color: rgba(17, 17, 17, 1);
            font-weight: 700;
            font-size: 30px;
            line-height: 100%;
            margin-bottom: 10px;

            @media screen and (max-width: 600px) {
                font-size: 20px;
            }
        }

        &>p {
            color: rgba(63, 78, 101, 1);
            font-weight: 300;
            font-size: 12px;
            line-height: 150%;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 44px;

        @media screen and (max-width: 600px) {
            gap: 15px;

            &>.line49:first-child {
                display: none;
            }
        }
    }

    &__counter {
        color: rgba(63, 78, 101, 1);

        .counterDisplay {
            font-weight: 500;
            font-size: 14px;
            line-height: 130%;
        }

        .decrementButton,
        .incrementButton {
            background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
            font-weight: 300;
            font-size: 12px;
            line-height: 100%;
            text-align: center;
            width: 34px;
            height: 23px;
            border-radius: 1000px;
            padding: 4px 14px;
            cursor: pointer;
        }

        .decrementButton {
            margin-right: 17px;
        }

        .incrementButton {
            margin-left: 17px;
        }
    }

    &__sum {
        color: rgba(17, 17, 17, 1);
        font-weight: 700;
        font-size: 30px;
        line-height: 130%;
        white-space: nowrap;

        @media screen and (max-width: 600px) {
            font-size: 16px;
        }
    }

    &__button {
        width: 59px;
        height: 59px;
        margin: 0;
    }
}

.line49 {
    height: 49px;
    border-right: 1px dashed rgba(63, 78, 101, 0.2);
}