.menu {
    padding: 14px 0;
    background-color: #ffffff;

    @media screen and (max-width: 1024px) {
        padding: 20px 0;
        transition: top .5s linear;
        position: absolute;
        top: -100%;
        right: 0;
        left: 0;
        z-index: 100;

        &.active {
            top: 15.2%;
        }
    }
}