.menu {
    padding: 14px 0;
    @media screen and (max-width: 700px) {
        // display: none;
        padding: 20px 0;
        // transform: translateY(-300%);
        // transition: all 2s linear;
    }

    // &.active {
    //     display: block;
    //     transform: translateY(0);
    // }
}