.priceListForm {
    padding: 45px 64px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 768px) {
        padding: 40px 20px;
    }

    &>h2 {
        color: rgba(17, 17, 17, 1);
        font-weight: 500;
        font-size: 30px;
        line-height: 140%;
        text-transform: uppercase;
        max-width: 383px;
        margin: 0 auto;

        @media screen and (max-width: 768px) {
            font-size: 20px;
        }
    }

    &>p {
        color: rgba(63, 78, 101, 1);
        font-weight: 300;
        font-size: 14px;
        line-height: 150%;
        max-width: 342px;
        margin: 15px auto 0;

        @media screen and (max-width: 768px) {
            font-size: 12px;
            margin-top: 10px;
        }
    }

    .form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px 30px;
        margin-top: 35px;

        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
            margin-top: 25px;
        }

        &__input {
            &>label {
                display: block;
                color: rgba(17, 17, 17, 1);
                font-weight: 500;
                font-size: 16px;
                text-align: left;
                line-height: 150%;
                margin-bottom: 10px;
            }

            &>input {
                background: rgba(237, 237, 237, 1);
                color: rgba(92, 99, 112, 1);
                width: 100%;
                height: 59px;
                border-radius: 36px;
                padding: 13px 30px;
                font-weight: 400;
                font-size: 12px;
                line-height: 150%;
            }
        }
    }

    &>p:nth-child(4) {
        color: rgba(17, 17, 17, 1);
        font-weight: 700;
        font-size: 12px;

        @media screen and (min-width: 768px) {
            text-align: left;
            margin: 30px 0 0;
        }
    }

    .form__submit {
        display: flex;
        justify-content: center;
        gap: 25px 30px;
        margin-top: 21px;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            margin-top: 10px;
        }

        .form__submitMethods {
            display: flex;
            justify-content: center;
            gap: 10px;
            width: 100%;

            @media screen and (max-width: 300px) {
                flex-wrap: wrap;
            }
        }

        &>button {
            height: 59px;
        }
    }

    .whatsApp,
    .email {
        color: rgba(255, 255, 255, 1);
        box-sizing: content-box;
        font-weight: 700;
        font-size: 14px;
        width: 100%;
        min-width: 120px;
        border-radius: 79px;
        padding: 18px 10px;

        @media screen and (max-width: 320px) {
            padding: 10px;
            font-size: 12px;
        }

        &>svg {
            margin-left: 12px;
            vertical-align: middle;

            @media screen and (max-width: 320px) {
                margin-left: 7px;
            }
        }
    }

    .whatsApp {
        background-color: rgba(0, 230, 118, 1);
    }

    .email {
        background-color: rgba(212, 212, 212, 1);
    }
}