.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.priceListButton {
    width: 149px;
    padding: 12px;

    svg {
        margin-left: 12px;
    }
}

.description {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
    margin: 15px auto;
}

.emailInputLabel {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    margin-bottom: 14px;
    color: #FFFFFF;
}

.emailSubscription {
    margin-bottom: 30px;
}

.links,
.contacts {
    h3 {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        margin-bottom: 25px;
    }
}

.links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 25px;

    &__item>a {
        display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #ffffffb3;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

.contacts__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px 10px;
    margin-bottom: 25px;
}

.messengers-title {
    font-weight: 100;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 17px;
}

.phone {
    line-height: 150%;

    &>p:nth-child(1) {
        font-weight: 600;
        font-size: 14px;
        color: #FFFFFF
    }

    &>p:nth-child(2) {
        font-weight: 300;
        font-size: 12px;
        color: #ffffffb3;
    }

    &>a {
        font-weight: 400;
        font-size: 10px;
        color: #ffffffb3;
        border-bottom: 1px solid #ffffffb3;
    }
}

.email {
    font-size: 14px;
    line-height: 130%;

    &>a {
        font-weight: 600;
        color: #FFFFFF;
    }

    &>p {
        font-weight: 100;
        color: #ffffffb3;
    }
}

.messengers {
    max-width: 100px;

    &>p {
        font-weight: 100;
        font-size: 14px;
        color: #FFFFFF;
        margin-bottom: 17px;
    }

    &__types {
        display: flex;
        gap: 10px;
    }
}

.whatsApp,
.telegram {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    cursor: pointer;
}

.whatsApp {
    background-color: #00E676;
    padding: 8px;
}

.telegram {
    background-color: #40B3E0;
}

.bankCards {
    margin-top: 10px;
    display: flex;
    gap: 5px;
}