@use "../../public/fonts/Inter/stylesheet.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input,
button,
textarea,
select {
  background: none;
  border: none;
  outline: none;
}


.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}