.categories {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;

    &>a {
        display: block;
    }

    @media screen and (max-width: 600px) {
        justify-content: start;
        gap: 10px;
    }
}

.categories__item {
    @media screen and (max-width: 600px) {
        max-width: 140px;
    }

    &>img {
        background-color: rgb(255, 250, 246);
        border-radius: 20px;
        margin: 0 auto;

        @media screen and (max-width: 600px) {
            width: 140px;
            height: 140px;
        }
    }

    &>figcaption {
        padding-top: 20px;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        text-align: center;
        color: rgba(17, 17, 17, 1);

        @media screen and (max-width: 600px) {
            padding-top: 10px;
            font-size: 12px;
        }
    }
}