.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;

    @media screen and (max-width: 1200px) {
        justify-content: space-evenly;
    }
}

.logo {
    max-width: 156px;
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    max-width: 320px;
    margin: 15px 0 45px;
}

.email-input-label {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 14px;
}

.links,
.contacts,
.messengers {
    &>h3 {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #ffffff;
        margin-bottom: 25px;
    }
}

.links>a {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #eaeaea;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.price-list-button {
    height: 59px;
    padding: 21px 0;

    svg {
        margin-left: 12px;
    }
}

.messengers {
    &>p {
        font-weight: 100;
        font-size: 14px;
        line-height: 150%;
        color: #FFFFFF;
        margin: 20px 0 15px;
    }

    &__types {
        display: flex;
        gap: 10px;
    }
}

.whatsApp,
.telegram {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    cursor: pointer;
}

.whatsApp {
    background-color: #00E676;
    padding: 8px;

    &:hover {
        background-color: #00b75f;
    }
}

.telegram {
    background-color: #40B3E0;

    &:hover {
        background-color: #018dc4;
    }
}

.phone {
    line-height: 150%;

    &>p:nth-child(1) {
        font-weight: 600;
        font-size: 14px;
        color: #FFFFFF;
    }

    &>p:nth-child(2) {
        font-weight: 300;
        font-size: 12px;
        color: #ffffffb3;
    }

    &>a {
        font-weight: 400;
        font-size: 10px;
        color: #ffffffb3;
        border-bottom: 1px solid #ffffffb3;
    }
}

.email {
    font-size: 14px;
    line-height: 130%;
    margin: 25px 0;

    &>a {
        font-weight: 600;
        color: #FFFFFF;
    }

    &>p {
        font-weight: 100;
        color: #ffffffb3;
    }
}

.bank-cards {
    display: flex;
    gap: 5px;
}