.card {
    max-width: 326px;
    padding: 29px 15px;
    color: #111111;
    box-shadow: -1px 5px 10px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    position: relative;
}

.card__label {
    display: none;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 4.5%;
    text-align: center;
    color: #FFFFFF;
    background-color: #1FD85D;
    border-radius: 5px;
    padding: 5px 10.5px;
    position: absolute;
    top: 29px;
    left: 15px;

    &.show {
        display: block;
    }
}

.card__img {
    padding-top: 20px;

    &>img {
        display: block;
        max-width: 202px;
        margin: 0 auto;
    }
}

.card__unit {
    color: rgba(63, 78, 101, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    margin-bottom: 10px;

    &>svg {
        vertical-align: text-bottom;
        margin-right: 8px;

        &>path {
            fill: rgba(63, 78, 101, 0.2);
        }
    }
}

.card__header {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;

    &>span {
        font-weight: 700;
    }
}

.card__content {
    margin-bottom: 15px;

    &>p {
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        color: #3F4E65;

        &>span {
            font-weight: 500;
            color: #111111;
        }
    }
}

.card__footer {
    display: flex;
    align-items: center;
    gap: 0 40px;

    &>p {
        font-weight: 800;
        font-size: 16px;
    }
}

.card__button {
    color: #FFF;
    background-color: #FFC85E;
    font-weight: 700;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 15%;
    border-radius: 80px;
    width: 153px;
    height: 45px;
    padding: 10px 19px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;

    &>svg {
        vertical-align: middle;
        margin-left: 5px;
    }

    &:hover {
        background-color: #04da00;
    }
}