.overlay {
    background-color: rgba(17, 17, 17, 0.5);
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100000;
}

.modalWindow {
    background-color: rgba(255, 255, 255, 1);
    max-width: 735px;
    border-radius: 8px;
    margin: 0 auto;
    position: absolute;
    top: 20%;
    right: 15px;
    left: 15px;

    @media screen and (max-width: 768px) {
        // top: 5%;
    }

    &>.closeBtn {
        cursor: pointer;
        position: absolute;
        top: 30px;
        right: 30px;

        @media screen and (max-width: 768px) {
            top: 10px;
            right: 10px;
        }
    }
}