.brandLogoCard {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
    border-radius: 10px;
    height: 77px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}