.breadcrumbs {
    padding: 45px 0 50px;

    &>a {
        font-weight: 300;
        font-size: 14px;
        line-height: 120%;
        color: rgba(63, 78, 101, 1);

        &:first-child {
            padding-right: 10px;
        }

        &:not(:first-child) {
            border-left: 1px dashed rgba(63, 78, 101, 0.3);
            padding: 0 10px;
        }

        &:last-child {
            color: rgba(63, 78, 101, 0.3);
        }
    }
}

//     {
//     background: rgba(255, 202, 101, 1);
//     width: 32px;
//     height: 32px;
//     opacity: 0.3;
//     border-radius: 100px;
// }