.contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 25px;
}

.address,
.email,
.phone {
    display: flex;
    align-items: center;

    svg {
        min-width: 20px;
    }

    &>p {
        display: inline;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #111111;
        margin-left: 15px;

        &>span {
            display: block;
            font-weight: 300;
            font-size: 12px;
            line-height: 15px;
            color: #3F4E65;
        }
    }
}

.phone>p>span:not(:last-child) {
    margin-bottom: 5px;
}

.request-call {
    display: inline;
    width: 150px;

    &>div {
        display: inline-block;
        background-color: #FFC85E;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        line-height: 30px;
        text-align: center;
        margin-right: 7px;
        vertical-align: middle;
    }

    &>span {
        font-weight: 400;
        font-size: 10px;
        color: #3F4E65;
        border-bottom: 1px solid #3F4E65;
    }
}

.menu {
    border-top: 1px dashed rgba(63, 78, 101, 0.2);
    padding: 25px 0 32px;
}

.menu__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #3F4E65;
    margin-bottom: 25px;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    margin-bottom: 22px;

    &__link {
        font-weight: 400;
        font-size: 14px;
        color: #3F4E65;
    }
}

.price-list-button {
    padding: 26px 0;
    max-width: 290px;
    margin: 0 auto;
    height: 70px;

    svg {
        margin-left: 12px;
    }
}