.main-container {
    width: 100%;
    max-width: 1432px;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

.window {
    width: 100%;
    max-width: 1432px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
}

.all-pages-container {
    width: 100%;
    height: 100%;
    display: flex;
    transition: translate;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.page {
    width: 100%;
    height: 500px;
    color: #ffffff;
    background: url('../../../../../public/images/slider/image.jpg') no-repeat;
    background-size: 100% 100%;
    padding: 80px 110px 77px;
}

.validity-period {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.title {
    font-weight: 800;
    font-size: 70px;
    line-height: 77px;
    margin-bottom: 35px;

    &>span {
        font-weight: 300;
    }
}

.text {
    width: 440px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 50px;
}

.button {
    width: 343px;
    height: 90px;
    font-size: 18px;
    letter-spacing: 1px;
}