.slider .splide__pagination {
  @media screen and (max-width: 600px) {
    position: absolute;
    bottom: -40px;
  }
}

.slider .splide__pagination li {
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  pointer-events: auto;
  width: auto !important;

  &:not(:last-child) {
    margin-right: 6px;
  }
}

.slider .splide__pagination__page {
  background-color: rgba(63, 78, 101, 1);
  width: 16px;
  height: 5px;
  opacity: 0.1;
  border-radius: 100px;
  margin-left: 0;
  margin-bottom: 10px;

  @media screen and (max-width: 600px) {
    height: 7px;
  }

  &.is-active {
    background-color: #ffffff;
    opacity: 1;
    width: 26px;

    @media screen and (max-width: 600px) {
      background-color: rgba(255, 200, 94, 1);
    }
  }
}

.slider .splide__arrows>button {
  background-color: rgba(255, 255, 255, 1);
  width: 67px;
  height: 67px;
  border-radius: 1000px;
  opacity: 1;

  @media screen and (max-width: 600px) {
    width: 39px;
    height: 39px;
  }

  &>svg {
    width: 9px;
    height: 16px;
    margin: 0 auto;
  }
}

.slider .splide__arrows>.splide__arrow--prev {
  left: -2.4%;

  @media screen and (max-width: 600px) {
    left: -3%;
  }
}

.slider .splide__arrows>.splide__arrow--next {
  right: -2.4%;

  @media screen and (max-width: 600px) {
    right: -3%;
  }
}