.sliderSection {
    position: relative;

    @media screen and (max-width: 600px) {
        margin-bottom: 50px;
    }
}

.slide {
    width: 100%;
    height: 500px;
    color: #ffffff;
    background: url('../../../../../public/images/slider/image.jpg') no-repeat;
    background-size: 100% 100%;
    padding: 80px 0 77px 110px;
    border-radius: 10px;

    @media screen and (max-width: 1024px) {
        padding: 50px 70px 50px;
    }

    @media screen and (max-width: 600px) {
        height: 205px;
        padding: 23px 0 23px 35px;
    }

    &__validityPeriod {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-bottom: 10px;

        &>span {
            white-space: nowrap;
        }

        &>br {
            display: none;
        }

        @media screen and (max-width: 1024px) {
            font-size: 12px;
        }

        @media screen and (max-width: 600px) {
            font-size: 6px;
            line-height: 185%;
            margin-bottom: 5px;

            &>br {
                display: block;
            }
        }
    }

    &__title {
        font-weight: 500;
        font-size: 70px;
        line-height: 77px;
        margin-bottom: 35px;

        @media screen and (max-width: 1024px) {
            font-size: 45px;
            line-height: normal;
            margin-bottom: 20px;
        }

        @media screen and (max-width: 600px) {
            font-size: 20px;
            margin-bottom: 10px;
        }

        &>span {
            font-weight: 800;
        }
    }

    &__text {
        max-width: 440px;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 50px;

        @media screen and (max-width: 1024px) {
            font-size: 16px;
        }

        @media screen and (max-width: 600px) {
            font-size: 12px;
            line-height: 120%;
            max-width: 200px;
            margin-bottom: 15px;
        }
    }

    &__button {
        width: 343px;
        height: 90px;
        font-size: 18px;
        letter-spacing: 1px;

        @media screen and (max-width: 1024px) {
            width: 300px;
            height: 60px;
            font-size: 15px;
        }

        @media screen and (max-width: 600px) {
            font-size: 10px;
            width: 161px;
            height: 43px;
        }
    }
}