.catalog {
    padding-bottom: 102px;
}

.catalog__header {
    margin-bottom: 30px;
}

.catalog__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
    color: rgba(17, 17, 17, 1);
    margin-bottom: 25px;
}

.catalog__body {
    display: flex;
    gap: 108px;
}

.catalog__bodyText {
    // margin-top: 60px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgba(63, 78, 101, 1);
}

.subCategoryList {
    display: flex;
    flex-wrap: wrap;
    gap: 11px;

    &>li {
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.1);
        color: rgba(63, 78, 101, 1);
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;

        &>.selected {
            background-color: rgb(232, 232, 232);
        }
    }
}

.sortControls {}

.viewToggle {}
