.successfulPurchase {
    padding: 115px 30px 134px;
    text-align: center;

    @media screen and (max-width: 500px) {
        padding: 60px 40px;
    }

    @media screen and (max-width: 320px) {
        padding: 60px 10px;
    }

    &>h2 {
        color: rgba(17, 17, 17, 1);
        font-weight: 500;
        font-size: 40px;
        line-height: 120%;
        text-transform: uppercase;
        margin-top: 24px;

        @media screen and (max-width: 500px) {
            font-size: 18px;
        }
    }

    &>p {
        color: rgba(63, 78, 101, 1);
        font-weight: 300;
        font-size: 20px;
        line-height: 120%;
        margin-top: 20px;

        @media screen and (max-width: 768px) {
            font-size: 12px;
            margin-top: 10px;
        }
    }
}