.filter_panel {
    color: rgba(63, 78, 101, 1);
    max-width: 238px;
}

// .title {
//     margin-bottom: 10px;
// }

.title,
.label {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: rgba(17, 17, 17, 1);
    margin-bottom: 15px;
}

.price {
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 16px;

    &>span {
        color: rgba(17, 17, 17, 1);
        font-weight: 500;
    }
}

.counter {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    margin-bottom: 30px;

    &>input {
        background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
        width: 100px;
        height: 23px;
        border-radius: 1000px;
        padding: 4px 14px;
        font-weight: 300;
        font-size: 12px;
        line-height: 100%;
        text-align: center;
        color: rgba(63, 78, 101, 1);
    }
}

.list {
    border-bottom: 1px dashed rgba(63, 78, 101, 0.3);
    padding-bottom: 20px;
    margin-bottom: 20px;

    &>li {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: rgba(63, 78, 101, 1);
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

.logosList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    &>li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 77px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.1);
        padding: 10px;
        cursor: pointer;
        img {
            width: 100%;
            height: 65px;
        }
    }
}