.main {
    width: 100vw;
    height: 100%;
    padding: 98px 0 94px;
    margin-bottom: 100px;
    background: url('../../../../../../public/images/home-page-intro/home-page-intro.jpg') no-repeat;
}

.main__title {
    font-weight: 500;
    font-size: 70px;
    line-height: 77px;
    color: #ffffff;
    max-width: 10em;
    margin-bottom: 40px;
}

.main__text {
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.main__button {
    font-size: 18px;
    letter-spacing: 3px;
    max-width: 300px;
    padding: 36px 0;
    margin-bottom: 91px;
}

.profitable-offer {
    display: flex;
    gap: 10px 35px;

    &__item {
        display: flex;
        align-items: center;
        gap: 0 10px;
        color: #FFFFFF;

        &>p {
            width: 100%;
            max-width: 166px;
            font-weight: 400px;
            font-size: 14px;
            line-height: 21px;

            &>span {
                font-weight: 700;
                white-space: nowrap;
            }
        }
    }

    &__plus {
        width: 39px;
        height: 39px;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        line-height: 38px;
        background-color: #ffc85e;
        border-radius: 50%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}






// .home {
//     width: 100vw;
//     height: 100%;
//     padding: 98px 0 94px;
//     margin-bottom: 100px;
//     background: url('../../../../../assets/images/home-page-intro/home-page-intro.jpg') no-repeat;

//     @media screen and (max-width: 500px) {
//         background: url('../../../../../assets/images/image\ 19.jpg') no-repeat;
//         background-size: 100% 100%;
//         padding: 55px 0;
//         margin-bottom: 50px;
//     }
// }

// .home__content {
//     @media screen and (max-width: 500px) {
//         background: linear-gradient(100deg, rgba(138, 148, 171, 0.9) 0%, rgba(138, 148, 171, 0) 100%);
//         padding: 17px;
//         backdrop-filter: blur(3px);
//     }
// }

// .home__title {
//     font-weight: 500;
//     font-size: 70px;
//     line-height: 77px;
//     color: #ffffff;
//     max-width: 10em;
//     margin-bottom: 40px;

//     @media screen and (max-width: 500px) {
//         font-weight: 500;
//         font-size: 18px;
//         line-height: 110.00000000000001%;
//         letter-spacing: 0%;
//         text-align: center;
//         max-width: none;
//         margin-bottom: 10px;
//     }
// }

// .home__text {
//     font-weight: 800;
//     font-size: 30px;
//     line-height: 45px;
//     color: #ffffff;
//     text-transform: uppercase;
//     margin-bottom: 60px;

//     @media screen and (max-width: 500px) {
//         font-weight: 500;
//         font-size: 10px;
//         line-height: 150%;
//         letter-spacing: 0%;
//         text-align: center;
//         margin-bottom: 0;
//     }
// }

// .home__button {
//     color: #FFF;
//     background-color: #FFC85E;
//     font-size: 18px;
//     letter-spacing: 3px;
//     border-radius: 80px;
//     width: 300px;
//     height: 95px;
//     margin-bottom: 91px;
//     padding: 10px 19px;
//     transition: background-color 0.3s ease-in-out;
//     cursor: pointer;

//     @media screen and (max-width: 500px) {
//         display: none;
//     }

//     &:hover {
//         background-color: #04da00;
//     }
// }

// .profitable-offer {
//     display: flex;
//     gap: 10px 35px;

//     @media screen and (max-width: 500px) {
//        flex-direction: column;
//     }

//     &__item {
//         display: flex;
//         align-items: center;
//         gap: 0 10px;
//         color: #FFFFFF;

//         &>p {
//             width: 100%;
//             max-width: 166px;
//             font-weight: 400px;
//             font-size: 14px;
//             line-height: 21px;

//             &>span {
//                 font-weight: 700;
//                 white-space: nowrap;
//             }

//             @media screen and (max-width: 500px) {
//                 font-size: 10px;
//                 color: #3F4E65;
//                 max-width: initial;
//             }
//         }
//     }

//     &__plus {
//         width: 39px;
//         height: 39px;
//         font-weight: 700;
//         font-size: 20px;
//         text-align: center;
//         line-height: 38px;
//         background-color: #ffc85e;
//         border-radius: 50%;
//         -webkit-user-select: none;
//         -moz-user-select: none;
//         -ms-user-select: none;
//         user-select: none;

//         @media screen and (max-width: 500px) {
//             width: 18px;
//             height: 18px;
//             font-size: 10px;
//             line-height: 18px;
//         }
//     }
// }