.main {
    position: relative;
    width: 100vw;
    height: 796px;
    padding: 98px 0 94px;
    margin-bottom: 100px;
    background: #8A94AB url('../../../../../../public/images/homepage/main-section/bg-image.jpg') no-repeat;
}

.main__content {
    &::after {
        content: "";
        width: 48%;
        height: 100%;
        background: linear-gradient(89.86deg, #8A94AB 0.13%, rgba(138, 148, 171, 0) 99.89%);
        backdrop-filter: blur(5px);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }
}

.main__title,
.main__text,
.main__button,
.advantage {
    position: relative;
    z-index: 15;
}

.main__title {
    font-weight: 500;
    font-size: 70px;
    line-height: 77px;
    color: #ffffff;
    max-width: 10em;
    margin-bottom: 40px;
}

.main__text {
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.main__button {
    font-size: 18px;
    letter-spacing: 3px;
    max-width: 300px;
    padding: 36px 0;
    margin-bottom: 91px;
}

.advantage {
    display: flex;
    gap: 10px 35px;

    &__item {
        display: flex;
        align-items: center;
        gap: 0 10px;
        color: #FFFFFF;

        &>p {
            width: 100%;
            max-width: 178px;
            font-weight: 400px;
            font-size: 14px;
            line-height: 21px;

            &>span {
                white-space: nowrap;

                &>span {
                    font-weight: 700;
                }
            }

        }
    }

    &__plus {
        width: 39px;
        height: 39px;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        line-height: 38px;
        background-color: #ffc85e;
        border-radius: 50%;
    }
}