.main-container {
    width: 100%;
    max-width: 1432px;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

.window {
    width: 100%;
    max-width: 1432px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
}

.all-pages-container {
    width: 100%;
    height: 100%;
    display: flex;
    transition: translate;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.page {
    width: 100%;
    height: 500px;
    color: #ffffff;
    background: url('../../../public/images/slider/image.jpg') no-repeat;
    background-size: 100% 100%;
    padding: 80px 110px 77px;
}

.validity-period {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.title {
    font-weight: 800;
    font-size: 70px;
    line-height: 77px;
    margin-bottom: 35px;

    &>span {
        font-weight: 300;
    }
}

.text {
    width: 440px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 50px;
}

.button {
    width: 343px;
    height: 90px;
    font-size: 18px;
    letter-spacing: 1px;
}

.switch {
    width: 67px;
    height: 67px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 45%;
    z-index: 2;

    &>img {
        margin: 25px auto;
    }
}

.switch-left {
    left: -1.3%;
}

.switch-right {
    right: -1.3%;
}

.dots-container {
    width: 16px;
    height: 7px;
    background-color: #a3a8af;
    border-radius: 100px;
    margin-right: 10px;
}

.dot.active {
    background-color: #ffffff;
}


.simple-slider__dots {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.simple-slider__dots li {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    transition: width 0.3s ease-in-out;
}

.simple-slider__dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: "slick";
    font-size: 6px;
    line-height: 20px;
    width: 10px;
    height: 10px;
    content: "•";
    text-align: center;
    opacity: 0.25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 0;
    left: 0;
}

.slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: black;
}